<form-text [(label)]="label" [(model)]="value"></form-text>
<span>父组件：{{ value }}</span>

<button (click)="setInputData(1)">设置子组件label为1</button>
<button (click)="setInputData(2)">设置子组件label为2</button>
<button (click)="setInputData(3)">设置子组件label为3</button>

<button (click)="showDlg()">显示弹框</button>

<cy-headline [title]="'标题模版'"></cy-headline>
<mat-tab-group class="demo-tab-group">
    <mat-tab label="Tab 1">
        <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>
    </mat-tab>
    <mat-tab label="Tab 2">
        <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>
    </mat-tab>
    <mat-tab label="Tab 3">
    </mat-tab>
    <mat-tab label="Tab 4">
        <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
            <br />
            <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>
    </mat-tab>
    <mat-tab label="Tab 5">
        No content
    </mat-tab>
    <mat-tab label="Tab 6">
        No content
    </mat-tab>
</mat-tab-group>

<el-form [formGroup]="validateForm" label-width="100px" size="small" [show-icon]="true" [show-message]="true" el-class="form-demo" #cityForm="ngForm">
    <el-form-item label="城市" [required]="true" [status]="statusCtrl('city')" [error]="messageCtrl('city')">
        <el-input formControlName="city"></el-input>
    </el-form-item>
    <el-form-item>
        <el-button type="primary" (click)="submit()">提交</el-button>
    </el-form-item>

</el-form>
<!-- <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button> -->

<hr>
<app-form-demo></app-form-demo>

<input type="text" [(ngModel)]="name">
<app-watchtext [name]="name"></app-watchtext>

<app-changtest></app-changtest>

<h2>Source code version</h2>
<button (click)="newMinor()">New minor version</button>
<button (click)="newMajor()">New major version</button>
<button (click)="newPerson()">改变对象</button>
<app-changtest [major]="major" [minor]="minor" [person]="person"></app-changtest>