<el-menu model="2" default-active="2" class="el-menu-vertical-demo" (modelChange)="handle($event)">
    <el-menu-item index="client/index">
        <i class="fa fa-home fa-fw fa-lg"></i>
        <span class="menu-text">主页</span>
    </el-menu-item>
    <el-submenu index="1">
        <ng-template #title>
            <i class="fa fa-credit-card fa-fw fa-lg"></i>
            <span class="menu-text">工资管理</span>
        </ng-template>
        <el-menu-item index="client/salary-manage/salary-post">
            <span class="menu-child-stance"></span>
            <i class="fa fa-bank fa-fw fa-lg"></i>
            <span class="menu-text">薪级工资标准</span>
        </el-menu-item>
        <el-menu-item index="client/salary-manage/salary-entering">
            <span class="menu-child-stance"></span>
            <i class="fa fa-money fa-fw fa-lg"></i>
            <span class="menu-text">薪级工资录入</span>
        </el-menu-item>
    </el-submenu>
    <el-menu-item index="client/psnedit">
        <i class="fa fa-address-card-o fa-fw fa-lg"></i>
        <span class="menu-text">人员管理</span>
    </el-menu-item>
    <!-- <el-menu-item index="client/unit"><i class="el-icon-setting"></i>机构管理</el-menu-item> -->
    <el-menu-item index="admin/module-manage">
        <i class="fa fa-sitemap fa-fw fa-lg"></i>
        <span class="menu-text">模块管理</span>
    </el-menu-item>
    <el-menu-item index="admin/authorization">
        <i class="fa fa-address-card fa-fw fa-lg"></i>
        <span class="menu-text">授权分组</span>
    </el-menu-item>
    <el-submenu index="1">
        <ng-template #title>
            <i class="fa  fa-key fa-lg"></i>
            <span class="menu-text">账户管理</span>
        </ng-template>
        <el-menu-item index="admin/useraccount/useraccount-manage">
            <span class="menu-child-stance"></span>
            <i class="fa fa-users fa-fw fa-lg"></i>
            <span class="menu-text">账户管理</span>
        </el-menu-item>
        <el-menu-item index="admin/useraccount/usermodule-manage">
            <span class="menu-child-stance"></span>
            <i class="fa fa-venus-mars fa-fw fa-lg"></i>
            <span class="menu-text">账户模块</span>
        </el-menu-item>
    </el-submenu>


    <el-menu-item index="admin/role">
        <i class="fa fa-drivers-license-o fa-fw fa-lg"></i>
        <span class="menu-text">角色管理</span>
    </el-menu-item>
    <el-menu-item index="admin/unitdendrogram">
        <i class="fa fa-university fa-fw fa-lg"></i>
        <span class="menu-text">机构树状图</span>
    </el-menu-item>
</el-menu>

<router-outlet></router-outlet>